body{
    background-color:#F8F9FA;
    
}
main{
    background-color: black;
}
.form-control, .form-control:focus {
    padding: .5em;
    display: inline-block;
    background-color: #F8F9FA;
    border-style:none ;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: black;
    border-radius: 0%;
    box-shadow: 0 0 0 0.2rem #F8F9FA;
    color: black;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
-webkit-box-shadow: 0 0 0 30px #F8F9FA inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
    }

    .custom-popover {
        --bs-popover-max-width: 200px;
        --bs-popover-border-color: var(--bs-warning);
        --bs-popover-header-bg: var(--bs-warning);
        --bs-popover-header-color: var(--bs-dark);
        --bs-popover-body-color: var(--bs-dark);
        --bs-popover-body-padding-x: 1rem;
        --bs-popover-body-padding-y: .5rem;
      }
.navbar-brand{
    font-size: 40px;
    font-weight: 600;
}
.navbar-toggler{
    background-color:#F8F9FA;
}
#searchbtn{
    font-size: 24px;
}
.nav-link{
    font-size: 20px;
}
.carousel{
    width: 100%;
}

.carousel-inner{
     width: 100%;
     padding-left: 1px;
     height: 22rem;
    }


